# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/venv/

# Database files
*.db
*.db-shm
*.db-wal
readings.db*

# Docker volumes
hub-server/data/*.db
hub-server/data/*.db-*

# Logs
*.log

# Tests
/hub-server/.coverage
scripts/publish-test-image.sh
