services:
  hub-server:
    build: ./hub-server
    container_name: hub-server
    expose:
      - "5000"
    volumes:
      - ./readings.db:/app/data/readings.db:rw

  legacy-nginx:
    build: ./legacy-nginx
    container_name: legacy-nginx
    ports:
      - "443:443"
    volumes:
      - ./legacy-nginx/nginx.conf:/opt/legacy-nginx/conf/nginx.conf:rw
      - ./legacy-nginx/server.crt:/opt/legacy-nginx/conf/server.crt:rw
      - ./legacy-nginx/server.key:/opt/legacy-nginx/conf/server.key:rw
    depends_on:
      - hub-server
