services:
  hub-server:
    image: ghcr.io/devoldschool/powermeter_hub_server/hub-server:latest
    container_name: hub-server
    restart: unless-stopped
    stdin_open: true
    networks:
      qnet-network:
        ipv4_address: 10.0.0.212
    ports:
      - "5000:5000"
    volumes:
      - /share/CACHEDEV1_DATA/Docker/powermeter_hub_server/data:/app/data:rw
    environment:
      TZ: Australia/Brisbane
      # Logging
      LOG_LEVEL: INFO
      # MQTT
      MQTT_ENABLED: true
      MQTT_BROKER: 10.0.0.220
      MQTT_PORT: 1883
      MQTT_USER: mqtt-broker-username-here
      MQTT_PASS: your-password-here
      # Home Assistant Discovery
      HA_DISCOVERY: true

  legacy-nginx:
    image: ghcr.io/devoldschool/powermeter_hub_server/legacy-nginx:latest
    container_name: legacy-nginx
    restart: unless-stopped
    stdin_open: true
    networks:
      qnet-network:
        ipv4_address: 10.0.0.213
    ports:
      - "443:443"
    volumes:
      - /share/CACHEDEV1_DATA/Docker/powermeter_hub_server/legacy-nginx/nginx.conf:/opt/legacy-nginx/conf/nginx.conf:rw
      - /share/CACHEDEV1_DATA/Docker/powermeter_hub_server/legacy-nginx/server.crt:/opt/legacy-nginx/conf/server.crt:rw
      - /share/CACHEDEV1_DATA/Docker/powermeter_hub_server/legacy-nginx/server.key:/opt/legacy-nginx/conf/server.key:rw
    environment:
      TZ: Australia/Brisbane
    depends_on:
      - hub-server

networks:
  qnet-network:
    driver_opts:
      iface: eth0
    driver: qnet
    ipam:
      driver: qnet
      options:
        iface: eth0
      config:
        - subnet: 10.0.0.0/24
          gateway: 10.0.0.1
